spring:
  application:
   name: FlightApp

  profiles:
    active: dev  # Change to 'prod' in production or override via command line/environment variable

  # Other global configurations can also go here
  logging:
    level:
      root: INFO